*{
	padding:0px;
	margin:0px;
}

.notice_content{
	font-size: 16px;
	min-height: 100%;
	background:url(../images/blue_bg_img.png) 0px 0px no-repeat;
	background-size:100% 100%;
	padding:20px 10px 50px;
	box-sizing: border-box;
}

.notice_content .title{
	width:35%;
	display: block;
	margin:0px auto 20px;
}

.notice_content .notice_box{
	padding:10px;
	border:1px dashed #fff;
	border-radius: 12px;
}

.notice_content .notice_box > p{
  color: #fff;
  line-height: 1rem;
  margin-bottom: 15px;
  font-size: .8rem;
}

.startBtn{
	background:url(../images/go_test_btn.png) 0px 0px no-repeat;
	background-size:100% 100%;
  width: 8rem;
  height: 2.8rem;
	border:none;
	display: block;
	margin:10px auto;
}

.linkBtn{
	display: inline-block;
	width:100px;
	height: 100%;
}