*{
	padding:0px;
	margin:0px;
}

.notice_content{
	font-size: 16px;
	min-height: 100%;
	background:url(../images/blue_bg_img.png) 0px 0px no-repeat;
	background-size:100% 100%;
	padding:20px 10px 100px;
}

.notice_content .title{
	width:35%;
	display: block;
	margin:0px auto 20px;
}

.notice_content .notice_box{
	padding:10px;
	border:1px dashed #fff;
	border-radius: 12px;
}

.notice_content .notice_box > p{
	color:#fff;
	line-height:18px;
	margin-bottom: 15px;
	font-size: 12px;
}

.startBtn{
	background:url(../images/go_test_btn.png) 0px 0px no-repeat;
	background-size:100% 100%;
	width:120px;
	height: 42px;
	border:none;
	display: block;
	margin:10px auto;
}

.linkBtn{
	display: inline-block;
	width:100px;
	height: 100%;
}