.question_item{
	margin:0px;
	padding:10px 10px 0px;
}

.question_item h2{
	color:#fbf506;
	line-height: 30px;
	font-size: 22px;
	margin-bottom: 15px;
}

.question_item h3{
	font-size: 0.9rem;
	color:#fff;
  line-height: 1.4rem;
}

.question_item p{
	line-height: 1.2rem;
  padding: 0.5rem 0.3rem;
  font-size: 0.9rem;
}

.question_item p input{
	width:18px;
	height: 18px;
	display: inline-block;
	margin-right: 2%;
	margin-left: 5%;
	vertical-align: top;
	display: none;
}

.question_item p > label:nth-of-type(2){
	vertical-align: top;
	display: inline-block;
	width:80%;
	color:#fff;
}

.question_item p .input_icon{
	background:url(../images/select_icon.png) 0px 0px no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	width:20px;
	height: 20px;
	margin-right: 5px;
}

.question_item p input:checked+.input_icon{
	background:url(../images/select_icon_checked.png) 0px 0px no-repeat;
	background-size: 100% 100%;
}

.question_item .notice_word{
	color:yellow;
	font-size: 12px;
}