body{
	background-color: #f0f0f0;
}
.question_page_content{
	background:url(../images/blue_bg_img.png) 0px 0px no-repeat;
	background-size: 100% 100%;
	padding-bottom: 50px;
}

.submit_btn{
	height: 80px;
	line-height: 80px;
	margin-top:15px;
	text-align: center;
}

.submit_btn button{
	display: inline-block;
	border:none;
	height: 36px;
	line-height: 36px;
	width:70%;
	border-radius: 10px;
	font-size: 16px;
	background-color: #d4902f;
	color:#fff;
}