.question_item{
	margin:5px 0px 0px;
	padding:10px 10px 0px;
}

.question_item h2{
	color:#fbf506;
	line-height: 30px;
	font-size: 22px;
	margin-bottom: 15px;
}

.question_item h3{
	font-size: 14px;
	color:#fff;
  line-height: 30px;
}

.question_item p{
	line-height: 20px;
	padding:5px 2px;
	font-size: 15px;
}

.question_item p input{
	width:18px;
	height: 18px;
	display: inline-block;
	margin-right: 2%;
	margin-left: 5%;
	vertical-align: top;
}

.question_item p label{
	vertical-align: top;
	display: inline-block;
	width:80%;
	color:#fff;
}